* {
  padding: 0;
  font-family: 'Roboto';
  font-weight: 300;
  text-decoration: none;
}

html, body {
  height: 100%;
  color: #606f7b;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #137892;
}

a:hover {
  color: #E4E9EB;
}

th {
  line-height: 1.5rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr, td {
  line-height: 1.75rem;
}

input[type="text"], input[type="email"] {
  border: 1px solid #A3B4C2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: .25rem;
  appearance: none;
  width: 100%;
  padding: .5rem .75rem;
  color: #606f7b;
  line-height: 1.25;
}

input[type="text"]:focus, input[type="email"]:focus {
  outline: 0; 
  box-shadow: 0 0 0 3px rgba(52,144,220,0.2);
}
input[type="submit"].btn-primary {
  border-radius: .25rem;
  padding: .5rem 1rem;
  color: #f9f9f9;
  background-color: #137892;
  cursor: pointer;
}

input[type="submit"].btn-primary:hover {
  background-color: #10657A;
}

.input-error {
  border-color: #990000!important;
}

.error {
  color: #990000;
}

.row-total {
  background-color: #ffffff!important;
  border-top: 1px solid #CFCFCF;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

header {
  background-color: #032D46;
  height: 70px;
  color: #E4E9EB;
}

header a {
  color: #E4E9EB;
}

nav a {
  color: #E4E9EB;
  text-decoration: none;
  padding: .5rem .75rem;
  text-transform: uppercase;
}

nav a:hover {
  color: #032D46;
}

nav > div {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 .5rem;
}

nav > div:last-of-type {
  padding-right: 0;
}

nav > div:hover, nav > div.active {
  background-color: #137892;
}


#subheader {
  background-color: #137892;
  height: 45px;
  color: #E4E9EB;
}

#subheader a {
  color: #E4E9EB;
}

footer {
  font-size: .8rem;
  background-color: #F3F3F3;
  height: 30px;
}

footer > div {
  text-align: center;
}